In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import (
    StructType,
    StructField,
    StringType,
    IntegerType
)

In [2]:
spark = SparkSession.builder.appName("FakeFriends").getOrCreate()

In [3]:
schema = StructType([
    StructField("id", IntegerType(), False),
    StructField("name", StringType(), False),
    StructField("age", IntegerType(), False),
    StructField("friends", IntegerType(), False)
])

In [17]:
df = spark \
    .read \
    .csv("file:///home/jovyan/data/fakefriends.csv", schema=schema)

In [25]:
df.createOrReplaceTempView("fakefriends")

In [28]:
friends_by_agegroup = spark.sql("""
    SELECT 
        age
        , SUM(friends) AS total_friends
        , COUNT(age) AS count
    FROM 
        fakefriends
    GROUP BY 
        age
    ORDER BY 
        total_friends DESC
""")
friends_by_agegroup.show(10)

+---+-------------+-----+
|age|total_friends|count|
+---+-------------+-----+
| 40|         4264|   17|
| 26|         4115|   17|
| 45|         4024|   13|
| 33|         3904|   12|
| 55|         3842|   13|
| 52|         3747|   11|
| 54|         3615|   13|
| 67|         3434|   16|
| 44|         3386|   12|
| 64|         3376|   12|
+---+-------------+-----+
only showing top 10 rows